/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.success-container {
    background-color: #333333; /* Dark gray container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    color: #FFA500; /* Orange text for heading */
    margin-bottom: 20px;
}

a {
    color: #FFA500; /* Orange link */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
